{% extends "base.html" %}
{% block title %}Mobs{% endblock %}
{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        <h2 class="mb-0">Mobs</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <!-- <th scope="col">Mob ID</th> -->
                        <th scope="col">Mob Name</th>
                        <th scope="col">Current Paddock</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mob in mobs %}
                    <tr class="table-light">  <!-- setting default color table-light -->
                        <!-- <td>{{ mob.id }}</td> -->
                        <td>{{ mob.name }}</td>
                        <td>{{ mob.paddock_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
